#inp {
    display: none;
}
#pwd {
    display: none;
}
#labelPassword {
    display: none;
}
#pwdButton {
    display: none;
}
#inp:checked ~ .ButtonCreation #labelPassword {
    display: block;
}
#inp:checked ~ .ButtonCreation #labelAdd {
    display: none;
}
#inp:checked ~ .ButtonCreation .password #pwd {
    display: block;
}
#inp:checked ~ .ButtonCreation .password #pwdButton {
    display: block;
}
.modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

