@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App {
	background: #DCDFD9;
    font-family: 'Readex Pro', sans-serif;
	color: #1b3231;
	padding-bottom: 4vh;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 35vh;
	font-size: 36px;
	text-transform: uppercase;
}

